div{
    color: white;
    
    
    

}
.home{
    /* display: flex; */
    /* justify-content: center; */
    
}

img{
    width: 300px;
    border-radius: 20%;
}
.typed-text{
    font-size: 2rem;
    color: rgb(233, 234, 235);
}
.hyperLink{
    background-color: #0ab7b7;
    color: white;
    border: none;
    padding:10px;
    border-radius: 5%;
    margin: 5px;
}
button:hover{
    /* color: rgb(10, 10, 9); */
    background-color: #098181;
}