.aboutPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 110px;
}
span{
    background-color: cadetblue;
}

h1{
    margin: 20px;
 text-align: center;
 font-size: 40px;
}
p{
    text-align: center;
    margin: 20px;
}
.skill-section{
    margin-top: 30px;
}
.skill {
    width: ;
    
  }

  .education {
    
    

  }