*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a3d5d;
  position: relative;
}

body{
  font-family: 'Poppins', sans-serif;
 
}

.tsparticles-canvas-el{

  position: relative;
  
  z-index: 2;
  
  
}